@page
@{
    ViewData["Title"] = "Contact us";
}
@model WebApplication1.Pages.contactModel
@{
}
<h1>Contact us</h1>
@if (Model.hasinfo)
{
    <p>Hello @Model.fname @Model.lname</p>
    <p>We have recieved your message.have a great day</p>
    <p>@Model.msg</p>
   // Model.mcount = Model.mcount + 1;
}
<div class="container">
    <form method="post">
        <label for="fname">First Name </label><br/>
        <input type="text" id="fname" name="FirstName"/><br/>
        <label for="lname">Last Name </label><br/>
        <input type="text" id="lname" name="LastName"/><br/>
        <label for="msg">Message </label><br/>
        <textarea id="msg" name="Message" style="height:100px"></textarea><br/>
        <input type="submit" value="Submit"/>
    </form>
</div>